<IfModule mod_rewrite.c>
RewriteEngine On

# Eğer gerçek bir dosya veya klasör değilse, index.php'ye yönlendir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>